@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
@media screen {
    .hide-on-screen {
        display: none;
    }
}

body {
    background-color: #76D7C4
}

.card {
    border-radius: 8px;
    border: none
}

.signin-link {
    color: #db0a5b;
    font-weight: 600
}

.signin-link:hover {
    color: #b90b4f
}

.form-control {
    margin-top: 13px;
    height: 49px !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #db0a5b
}

.form-check-input {
    border: 1px solid #F44336
}

.form-check-input:checked {
    background-color: #F44336;
    border-color: #F44336
}

.form-check-input:focus {
    border-color: #e10a5b;
    outline: 0;
    box-shadow: none
}

.button {
    height: 40px;
    border-radius: 4px
}

div.text1 {
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
}

div.header {
    font-family: 'Sarabun', sans-serif;
    font-size: 28px;
}