@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
@media screen {
    .hide-on-screen {
        display: none;
    }
}

div.text_1 {
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
}

div.header {
    font-family: 'Sarabun', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

body {
    font-family: sarabun;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

div.text1 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

div.text2 {
    font-size: 18px;
    font-weight: bold;
}

.tablecenter {
    text-align: center;
    font-weight: bold;
}

.tableright {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

.tableleft {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
}

.tablehead {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
}

div.center {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}